/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav button {display: none;}
nav ul.hide {display: block;}
nav ul {margin-left: 2%;}
nav ul li {
    float: left;
}
nav ul li a {border: none;
border-right: 1px solid rgba(175, 175, 175, 0.3);
background-color: rgb(175, 175, 175);
    color: #000;
padding: .8rem 1rem;
}
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}
      .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 50%;
    width: 100%;
    padding: 1px;
  }
/*----------- MAIN --------------*/
div.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.social a img {width: 100%;}
.cards a img {width: 100%;}
.cards a {grid-column: 1 / span 3;}
.cards {grid-template-columns: 1fr 1fr;}


/*----------- FOOTER --------------*/
    
} /* end of media query */